<h1>Admin Application Approval Page</h1>
<section class="stats">
<h4>Applicant Name: <%= @application.name %></h4>
<h4>Application Status: <%= @application.status %></h4>
</section>
<h3>Pets on Application</h3>
<% @application.pets.each do |pet| %>
  <div id="admin-pet-<%= pet.id %>">
  <% if params[:approve] == "no" %>
    <p><%= pet.name %></p>
    <p>Application Rejected</p>
  <% elsif params[:approve] == "yes" %>
    <p><%= pet.name %></p>
    <p>Application Approved</p>
  <% else %>
    <p><%= pet.name %></p>
    <%= button_to "Approve Application", "/admins/applications/#{@application.id}?approve=#{pet.id}", method: :post %>
    <%= button_to "Reject Application", "/admins/applications/#{@application.id}?reject=#{pet.id}", method: :post %>
  <% end %>
<% end %>
