<h1>Applicant: <%= @application.name %></h1>

<h3>Address: <%= @application.street_address %></h3>
<h3>City: <%= @application.city %></h3>
<h3>State: <%= @application.state %></h3>
<h3>Zipcode: <%= @application.zipcode %></h3>
<h3>Application Status: <%= @application.status %></h3>
<h3>Why I'd be a great pet owner: <%= @application.description %></h3>

<%= render partial: 'pets_section', locals: {app: @application} %>

<%= render partial: 'search', locals: {app: @application, pets: @pets, path: @application.id} %>

<%= render partial: 'desc_form', locals: {app: @application} %>
