<h1>Admin Shelter Page</h1>

<h5>Shelter Name: <%= @shelter.name %></h5>
<h5>Shelter Address: <%= @shelter.address %></h5>
<h5>Shelter City: <%= @shelter.city %></h5>
<h5>Shelter State: <%= @shelter.state %></h5>
<h5>Shelter Zipcode: <%= @shelter.zip %></h5>

<section id="statistics">
  <% if !@shelter.pets.empty? %>
    <h3>Average Pet Age: <%= @shelter.average_age.round(2) %></h3><br>
    <h3>Number of adoptable pets: <%= @shelter.adoptable_pets.count %></h3><br>
    <h3>Number of pets that have been adopted: <%= @shelter.adopted.count %></h3>
  <% end %>
  </section>

  <section id="action-required">
    <h2>Pets with applications that need reviewed: </h2><br>
    <% if @pets %>
      <% @pets.each do |pet| %>
        <% if pet.pet_applications.need_reviewed?(pet.id) %>
          <%= pet.name %>
          <%= link_to "Review Pet", "/admins/applications/#{pet.pet_applications.need_reviewed?(pet.id)}" %>
        <% end %>
      <% end %>
    <% end %>
    </section>
