<h1>Admin Shelter Page</h1>

<h5>Shelter Name: <%= @shelter.name %></h5>
<h5>Shelter Address: <%= @shelter.address %></h5>
<h5>Shelter City: <%= @shelter.city %></h5>
<h5>Shelter State: <%= @shelter.state %></h5>
<h5>Shelter Zipcode: <%= @shelter.zip %></h5>

<%= render partial: 'statistics', locals: {app: @shelter} %>

<%= render partial: 'action_required', locals: {app: @pets} %>
